*/*.o
image_convolution_hip
image_convolution_cuda
image_convolution_serial
image_convolution_opencl
examples/bmpnegative
examples/bmpnegative-cuda
examples/bmpnegative-hip
out/
run.sbatch
run.sh
sync.sh
jobs/
